.AppLink {
    color: #fff;
    cursor: pointer;
}

.AppLink:hover {
    color: aqua;
}

.aside {
    grid-area: aside;
    background: rgba(219, 23, 223, 0.4);
}

.active {
    color: rebeccapurple;
}