.post{
    display: flex;
    align-items: center;
}

.item{
    font-size: 20px;
    padding-left: 40px;
}

.ava{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.colorRed{
    color: red;
}